* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

header .center-content, header .front-tittle, header .name, header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

ul {
  list-style: none;
}

header {
  background-color: #0a0a0a;
  width: 100%;
  max-height: 100%;
  color: white;
}
header .container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 10;
  padding: 20px;
   border-bottom: solid 1px #6666669c;
}
header .name {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1.5px;
  font-weight: 510;
  font-size: 20px;
  letter-spacing: 3px;
  width: 20%;
  cursor: pointer;
}
header .name span {
  color: #2c75ff;
}
header .front-tittle {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .front-tittle li {
  margin: auto 40px;
  letter-spacing: 1.5px;
  font-weight: light;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: bold;
  cursor: pointer;
}
header .center-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  min-height: 100%;
}
header .center-content .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: auto;
}
header .center-content .left-content span {
  letter-spacing: 15px;
  font-size: 40px;
  font-weight: 300;
  margin: 10px auto;
}
header .center-content .left-content h1 {
  margin: 10px auto;
  font-size: 100px;
  letter-spacing: 5px;
  font-weight: 900;
  text-align: center;
}
header .center-content .left-content .blue-span {
  color: #2c75ff;
  letter-spacing: 15px;
  margin: 10px auto;
  font-weight: normal;
  text-align: center;
}
header .center-content .left-content .buttons {
  width: 100%;
  margin: 50px auto;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .center-content .left-content .buttons .download {
  letter-spacing: 0;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.091);
  border-radius: 50px;
  padding: 10px 25px;
  -webkit-box-shadow: 0 0 0px #2c75ff, 0 0 40px #2c75ff;
          box-shadow: 0 0 0px #2c75ff, 0 0 40px #2c75ff;
  font-weight: bold;
  margin: 0;
}
header .center-content .left-content .buttons .download:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .center-content .left-content .buttons a {
  text-decoration: none;
  color: white;
}
header .center-content .left-content .buttons a i {
  font-size: 25px;
  border: 1px solid rgba(67, 67, 67, 0.556);
  padding: 12px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0px #2c75ff, 0 0 40px #2c75ff;
          box-shadow: 0 0 0px #2c75ff, 0 0 40px #2c75ff;
  cursor: pointer;
}
header .center-content .left-content .buttons a i:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
header .right-content {
  margin: auto;
  margin-right: 0;
}
header .right-content img {
  width: 100%;
  height: 100vh;
  border-radius: 0;
}

.about-section .about-content {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #0a0a0a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: -1;
}
.about-section .about-content .cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.about-section .about-content .cont h2 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 100px auto;
  margin-bottom: 80px;
}
.about-section .about-content .cont h2 .blue-span {
  color: #2c75ff;
  font-size: 50px;
  font-weight: bold;
}
.about-section .about-content p {
  width: 60%;
  margin: 0 auto;
  padding: 20px 40px;
  color: rgba(255, 255, 255, 0.776);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 3px;
  border: 1px solid rgba(255, 255, 255, 0.091);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0px #2c75ffa3, 0 0 40px #2c75ffa3;
          box-shadow: 0 0 0px #2c75ffa3, 0 0 40px #2c75ffa3;
}

.skills-section .skills-content {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  background-color: #0a0a0a;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
}
.skills-section .skills-content .headline {
  color: white;
  margin: 10px auto;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
}
.skills-section .skills-content .headline span {
width:100%;
}
.skills-section .skills-content .skills {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.091);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
          box-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
  width: 800px;
  background-color: #191919;
  margin: 40px auto;
}
.skills-section .skills-content .skills span {
  margin: 15px auto;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
}
.skills-section .skills-content .skills .bar {
  width: 10px;
  background-color: black;
  border: 1px solid #000000;
  border-radius: 10px;
  color: black;
  letter-spacing: 1px;
  font-size: 16px;
}
.skills-section .skills-content .skills .H-run {
  width: 70%;
  font-size: 18px;
  -webkit-transition: width 2s;
  transition: width 2s;
  background-color: #f98000;
}
.skills-section .skills-content .skills .hicon {
  color: #f98000;
}
.skills-section .skills-content .skills .C-run {
  width: 65%;
  font-size: 18px;
  -webkit-transition: width 2s;
  transition: width 2s;
  background-color: #1981c6;
}
.skills-section .skills-content .skills .cicon {
  color: #1981c6;
}
.skills-section .skills-content .skills .J-run {
  width: 60%;
  font-size: 18px;
  -webkit-transition: width 2s;
  transition: width 2s;
  background-color: #f4d03f;
}
.skills-section .skills-content .skills .jicon {
  color: #f4d03f;
}
.skills-section .skills-content .skills .S-run {
  width: 65%;
  font-size: 18px;
  -webkit-transition: width 2s;
  transition: width 2s;
  background-color: #e872b3;
}
.skills-section .skills-content .skills .sicon {
  color: #e872b3;
}
.skills-section .skills-content .skills .E-run {
  width: 55%;
  font-size: 18px;
  -webkit-transition: width 2s;
  transition: width 2s;
  background-color: #186d1b;
}
.skills-section .skills-content .skills .eicon {
  color: #186d1b;
}

.projects-section .projects-content {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  background-color: #0a0a0a;
  padding: 10px 0;
  min-height: 100%;
  z-index: -1;
}
.projects-section .projects-content .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  width: 100%;
  margin: auto;
}
.projects-section .projects-content .projects .Head-line {
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  margin: 30px auto;
}
.projects-section .projects-content .projects .Head-line .o {
  font-size: 50px;
  color: #2c75ff;
}
.projects-section .projects-content .projects h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 5px auto;
}
.projects-section .projects-content .projects p {
  margin: 10px auto;
  margin-top: 0;
}
.projects-section .projects-content .projects img {
  width: 100%;
}
.projects-section .projects-content .all {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid rgba(34, 34, 34, 0.467);
  border-radius: 6px;
  margin: 20px;
  padding: 20px 15px;
  padding-top: 10px;
  max-height: 100%;
}
.projects-section .projects-content .all:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.projects-section .projects-content .todolist {
  border-top: solid 2px #c400c7ac;
}
.projects-section .projects-content .store {
  border-top: solid 2px #3cb4ffac;
}
.projects-section .projects-content .gym {
  border-top: solid 2px #d04a0ca1;
}
.projects-section .projects-content .amma {
  border-top: solid 2px #e9d434ac;
}
.projects-section .projects-content .memorygame {
  border-top: solid 2px #00c79295;
}
.projects-section .projects-content .countdown {
  border-top: solid 2px #d84f4f7b;
}

.contact-section .contact-content {
  position: absolute;
  top: 68px;
  left: 0;
  background-color: #0a0a0a;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}
.contact-section .contact-content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  color: white;
  border: solid 2px white;
  width: 700px;
  border: 1px solid rgba(255, 255, 255, 0.091);
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
          box-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
  background-color: #000000cc;
  padding: 0 40px;
}
.contact-section .contact-content .contact span {
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  padding-top: 35px;
}
.contact-section .contact-content .contact span .blue-span {
  color: #2c75ff;
  font-size: 40px;
}
.contact-section .contact-content .contact .mail {
  padding: 50px 20px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 10px;
}
.contact-section .contact-content .contact .mail form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-section .contact-content .contact .mail form [type=email] {
  width: 100%;
  min-height: 40px;
  margin: 10px auto;
  padding: 10px 8px;
  font-size: 18px;
  background-color: #0e0e0e;
  color: rgba(255, 255, 255, 0.824);
  border: none;
}
.contact-section .contact-content .contact .mail form [type=email]:focus {
  outline: none;
}
.contact-section .contact-content .contact .mail form [type=email]::-webkit-input-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form [type=email]::-moz-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form [type=email]:-ms-input-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form [type=email]::-ms-input-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form [type=email]::placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form textarea {
  border: none;
  width: 100%;
  min-height: 150px;
  margin: 20px auto;
  padding: 10px 8px;
  font-size: 18px;
  background-color: #0e0e0e;
  color: rgba(255, 255, 255, 0.824);
}
.contact-section .contact-content .contact .mail form textarea:focus {
  outline: none;
}
.contact-section .contact-content .contact .mail form textarea::-webkit-input-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form textarea::-moz-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form textarea:-ms-input-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form textarea::-ms-input-placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form textarea::placeholder {
  color: #2d2c2c;
}
.contact-section .contact-content .contact .mail form [type=submit] {
  font-weight: bold;
  width: 180px;
  color: #2d2c2c;
  background-color: #0e0e0e;
  padding: 8px 0;
  border: none;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 10px auto;
  cursor: pointer;
}
.contact-section .contact-content .contact .mail form [type=submit]:hover {
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contact-section .contact-content .contact .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 30px;
  padding-bottom: 25px;
}
.contact-section .contact-content .contact .social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  margin: 20px 45px;
  text-align: center;
}
.contact-section .contact-content .contact .social a .facebook {
  color: #4267b2;
}
.contact-section .contact-content .contact .social a .twitter {
  color: #1da1f2;
}
.contact-section .contact-content .contact .social a .instagram {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.contact-section .contact-content .contact .social a .whatsapp {
  color: #25d366;
}
.contact-section .contact-content .contact .social .phone {
  width: 60%;
  border: 1px solid rgba(255, 255, 255, 0.091);
  border-radius: 50px;
  padding: 2px 15px;
  margin: 20px 30px;
  margin-top: 30px;
  text-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
  letter-spacing: 5px;
  font-size: 22px;
  font-weight: bold;
}
.contact-section .contact-content .contact .social .phone:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
  color: #0a0a0a;
}
.contact-section .contact-content .contact .social .phone i {
  margin-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 25px;
  border: none;
  border-radius: 0;
  color: #3eb83e;
}
.contact-section .contact-content .contact .social i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38.69px;
  height: 38px;
  font-size: 38px;
  border-radius: 11px;
  text-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
  opacity: 65%;
  cursor: pointer;
}
.contact-section .contact-content .contact .social i:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 100%;
}

.active {
  color: #2c75ff;
}

@media (max-width: 767px) {
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 19px 5px;
    padding-bottom: 33px;
  }
  header .container .name {
    width: 100%;
    margin-bottom: 35px;
    font-size: 16px;
  }
  header .container .front-tittle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .front-tittle li {
    margin: auto 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  header .center-content .left-content {
    padding-left: 15px;
    margin: 70px auto;
  }
  header .center-content .left-content span {
    font-size: 20px;
    letter-spacing: 8px;
  }
  header .center-content .left-content .blue-span {
    font-size: 20px;
    letter-spacing: 8px;
  }
  header .center-content .left-content h1 {
    font-size: 50px;
    margin: 0;
  }
  header .center-content .left-content .buttons .download {
    font-size: 16px;
    margin-bottom: 40px;
  }
  header .center-content .left-content .buttons a i {
    font-size: 20px;
  }
  header .center-content .right-content img {
    height: 88vh;
  }

  .about-section .about-content {
   top: 135px;
  }
  .about-section .about-content .cont .blue-span {
    font-size: 28px;
  }
  .about-section .about-content .cont h2 {
    margin: 50px auto;
    font-size: 30px;
  }
  .about-section .about-content .cont p {
    width: 80%;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2;
    padding: 10px 15px;
  }

  .skills-section .skills-content {
    top: 135px;
    padding: 20px;
    padding-top: 0;
  }
  .skills-section .skills-content .headline {
    margin: 30px auto;
    font-size: 30px;
    letter-spacing:2px;
    width:100%;
    text-align: center;
  }
  .skills-section .skills-content .skills {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 5px;
    width: 100%;
  }
  .skills-section .skills-content .skills span {
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .skills-section .skills-content .skills .bar {
    margin: 5px auto;
  }
  .skills-section .skills-content .skills .H-run {
    width: 92%;
  }
  .skills-section .skills-content .skills .C-run {
    width: 88%;
  }
  .skills-section .skills-content .skills .J-run {
    width: 80%;
  }
  .skills-section .skills-content .skills .S-run {
    width: 88%;
  }
  .skills-section .skills-content .skills .E-run {
    width: 75%;
  }

  .projects-section .projects-content {
  top: 135px;
  }
  .projects-section .projects-content .projects {
    padding-top: 0;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .projects-section .projects-content .projects .Head-line {
    font-size: 35px;
  }
  .projects-section .projects-content .projects h3 {
    font-size: 21px;
  }
  .projects-section .projects-content .projects p {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .contact-section .contact-content {
  top: 135px;
  padding: 20px;
  }
  .contact-section .contact-content .contact {
    padding: 0 5px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .contact-section .contact-content .contact span {
    font-size: 28px;
    padding-top: 20px;
  }
  .contact-section .contact-content .contact span .blue-span {
    font-size: 30px;
  }
  .contact-section .contact-content .contact .social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 5px;
  }
  .contact-section .contact-content .contact .social a {
    margin: 0;
  }
  .contact-section .contact-content .contact .social a .instagram {
    width: 26.26px;
    height: 29.99px;
  }
  .contact-section .contact-content .contact .social a i {
    font-size: 30px;
  }
  .contact-section .contact-content .contact .social .phone {
    margin: 38px auto;
    font-size: 16px;
    letter-spacing: 3px;
    width: 80%;
  }
  .contact-section .contact-content .contact .social .phone i {
    font-size: 20px;
  }
  .contact-section .contact-content .contact .mail {
    width: 100%;
    padding: 20px;
  }
  .contact-section .contact-content .contact .mail form [type=email] {
    width: 100%;
  }
  .contact-section .contact-content .contact .mail form textarea {
    width: 100%;
    height: 80px;
  }
  .contact-section .contact-content .contact .mail form [type=submit] {
    font-size: 16px;
    padding: 5px 0;
  }
}
/*# sourceMappingURL=main.css.map */
