* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

$main: #0a0a0a;
$content-color: rgb(255, 255, 255);

ul {
  list-style: none;
}

header {
  background-color: $main;
  width: 100%;
  max-height: 100%;
  color: $content-color;
  .container {
    @extend %flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    z-index: 10;
    padding: 20px;
  }
  .name {
    @extend %flex;
    justify-content: center;
    letter-spacing: 1.5px;
    font-weight: 510;
    font-size: 20px;
    letter-spacing: 3px;
    width: 20%;

    cursor: pointer;
    span {
      color: #2c75ff;
    }
  }
  .front-tittle {
    @extend %flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    li {
      margin: auto 40px;
      letter-spacing: 1.5px;
      font-weight: light;
      font-size: 18px;
      letter-spacing: 4px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .center-content {
    @extend %flex;
    justify-content: space-between;
    align-items: start;
    min-height: 100%;
    .left-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      min-height: 100%;
      margin: auto;

      span {
        letter-spacing: 15px;
        font-size: 40px;
        font-weight: 300;
        margin: 10px auto;
      }
      h1 {
        margin: 10px auto;
        font-size: 100px;
        letter-spacing: 5px;
        font-weight: 900;
        text-align: center;
      }
      .blue-span {
        color: #2c75ff;
        letter-spacing: 15px;
        margin: 10px auto;
        font-weight: normal;
        text-align: center;
      }
      .buttons {
        width: 100%;
        margin: 50px auto {
          bottom: 0px;
        }
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .download {
          letter-spacing: 0;
          font-size: 20px;
          cursor: pointer;
          border: 1px solid rgba(255, 255, 255, 0.091);
          border-radius: 50px;
          padding: 10px 25px;
          box-shadow: 0 0 0px #2c75ff, 0 0 40px #2c75ff;
          font-weight: bold;
          margin: 0;
          &:hover {
            transition: 1s;
            transform: scale(1.1);
          }
        }
        a {
          text-decoration: none;
          color: white;

          i {
            font-size: 25px;
            border: 1px solid rgba(67, 67, 67, 0.556);
            padding: 12px;
            border-radius: 50%;
            box-shadow: 0 0 0px #2c75ff, 0 0 40px #2c75ff;
            cursor: pointer;
            &:hover {
              transition: 1s;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .right-content {
    margin: auto {
      right: 0;
    }

    img {
      width: 100%;
      height: 100vh;
      border-radius: 0;
    }
  }
}
.about-section {
  .about-content {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: $main;
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: -1;

    .cont {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
      h2 {
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 5px;
        margin: 100px auto {
          bottom: 80px;
        }

        .blue-span {
          color: #2c75ff;
          font-size: 50px;
          font-weight: bold;
        }
      }
    }
    p {
      width: 60%;
      margin: 0 auto;
      padding: 20px 40px;
      color: rgba(255, 255, 255, 0.776);
      font-size: 18px;
      line-height: 2;
      letter-spacing: 3px;
      border: 1px solid rgba(255, 255, 255, 0.091);
      border-radius: 20px;
      box-shadow: 0 0 0px #2c75ffa3, 0 0 40px #2c75ffa3;
    }
  }
}

// End About Section

// Start Skills
.skills-section {
  .skills-content {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background-color: $main;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    .headline {
      color: white;
      margin: 10px auto;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 5px;
    }
    .skills {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border: 1px solid rgba(255, 255, 255, 0.091);
      border-radius: 20px;
      box-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
      width: 800px;
      background-color: #191919;
      margin: 40px auto;

      span {
        margin: 15px auto;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        letter-spacing: 5px;
      }

      .bar {
        width: 10px;
        background-color: black;
        border: 1px solid #000000;
        border-radius: 10px;
        color: black;
        letter-spacing: 1px;
        font-size: 16px;
      }
      .H-run {
        width: 70%;
        font-size: 18px;
        transition: width 2s;
        background-color: #f98000;
      }
      .hicon {
        color: #f98000;
      }
      .C-run {
        width: 65%;
        font-size: 18px;
        transition: width 2s;
        background-color: #1981c6;
      }
      .cicon {
        color: #1981c6;
      }
      .J-run {
        width: 60%;
        font-size: 18px;
        transition: width 2s;
        background-color: #f4d03f;
      }
      .jicon {
        color: #f4d03f;
      }

      .S-run {
        width: 65%;
        font-size: 18px;
        transition: width 2s;
        background-color: #e872b3;
      }
      .sicon {
        color: #e872b3;
      }

      .E-run {
        width: 55%;
        font-size: 18px;
        transition: width 2s;
        background-color: #186d1b;
      }
      .eicon {
        color: #186d1b;
      }
    }
  }
}

// End Skills

// Start projects
.projects-section {
  .projects-content {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background-color: $main;
    padding: 10px 0;
    min-height: 100%;
    z-index: -1;

    .projects {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      width: 100%;
      margin: auto;

      .Head-line {
        width: 100%;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
        margin: 30px auto;
        .o {
          font-size: 50px;
          color: #2c75ff;
        }
      }
      h3 {
        font-size: 25px;
        font-weight: bold;
        margin: 5px auto;
      }
      p {
        margin: 10px auto {
          top: 0;
        }
      }
      img {
        width: 100%;
      }
    }
    .all {
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 2px solid rgba(34, 34, 34, 0.467);
      border-radius: 6px;
      margin: 20px;
      padding: 20px 15px {
        top: 10px;
      }
      max-height: 100%;
      &:hover {
        transition: 1s;
        transform: scale(1.1);
      }
    }

    .todolist {
      border-top: solid 2px #c400c7ac;
    }
    .store {
      border-top: solid 2px #3cb4ffac;
    }
    .gym {
      border-top: solid 2px #d04a0ca1;
    }
    .amma {
      border-top: solid 2px #e9d434ac;
    }
    .memorygame {
      border-top: solid 2px #00c79295;
    }
    .countdown {
      border-top: solid 2px #d84f4f7b;
    }
  }
}
//End Projects

//Start Contact
.contact-section {
  .contact-content {
    position: absolute;
    top: 68px;
    left: 0;
    background-color: $main;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    .contact {
      span {
        width: 100%;
        text-align: center;
        margin: auto;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 5px;
        padding-top: 35px;

        .blue-span {
          color: #2c75ff;
          font-size: 40px;
        }
      }
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin: auto;
      color: white;
      border: solid 2px white;
      width: 700px;
      border: 1px solid rgba(255, 255, 255, 0.091);
      border-radius: 20px;
      box-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
      background-color: #000000cc;
      padding: 0 40px;

      .mail {
        padding: 50px 20px {
          bottom: 20px;
        }
        width: 100%;
        border-radius: 10px;

        form {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column;
          flex-wrap: wrap;

          [type="email"] {
            width: 100%;
            min-height: 40px;
            margin: 10px auto;
            padding: 10px 8px;
            font-size: 18px;
            background-color: #0e0e0e;
            color: rgba(255, 255, 255, 0.824);
            border: none;
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: rgb(45, 44, 44);
            }
          }

          textarea {
            border: none;
            width: 100%;
            min-height: 150px;
            margin: 20px auto;
            padding: 10px 8px;
            font-size: 18px;
            background-color: #0e0e0e;
            color: rgba(255, 255, 255, 0.824);
            &:focus {
              outline: none;
            }
            &::placeholder {
              color: rgb(45, 44, 44);
            }
          }

          [type="submit"] {
            font-weight: bold;
            width: 180px;
            color: rgb(45, 44, 44);
            background-color: #0e0e0e;
            padding: 8px 0;
            border: none;
            font-size: 18px;
            letter-spacing: 3px;
            margin: 10px auto;
            cursor: pointer;
            &:hover {
              color: white;
              transition: 1s;
              transform: scale(1.1);
            }
          }
        }
      }

      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 30px;
        padding-bottom: 25px;
        a {
          .facebook {
            color: #4267b2;
          }
          .twitter {
            color: #1da1f2;
          }
          .instagram {
            background: #f09433;
            background: -moz-linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            background: -webkit-linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
            background: linear-gradient(
              45deg,
              #f09433 0%,
              #e6683c 25%,
              #dc2743 50%,
              #cc2366 75%,
              #bc1888 100%
            );
          }
          .whatsapp {
            color: #25d366;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: white;
          margin: 20px 45px;
          text-align: center;
        }
        .phone {
          width: 60%;
          border: 1px solid rgba(255, 255, 255, 0.091);
          border-radius: 50px;
          padding: 2px 15px {

          }
          margin: 20px 30px {
            top: 30px;
          }
          text-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
          letter-spacing: 5px;
          font-size: 22px;
          font-weight: bold;
          &:hover {
            transition: 1s;
            transform: scale(1.1);
            background-color: white;
            color: $main;
          }

          i {
            margin-left: 10px;
            box-shadow: none;
            font-size: 25px;
            border: none;
            border-radius: 0;
            color: rgb(62, 184, 62);
          }
        }

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 38.69px;
          height: 38px;
          font-size: 38px;
          border-radius: 11px;
          text-shadow: 0 0 0px #2c75ff75, 0 0 15px #2c75ff75;
          opacity: 65%;
          cursor: pointer;
          &:hover {
            transition: 1s;
            transform: scale(1.1);
            opacity: 100%;
          }
        }
      }
    }
  }
}

.active {
  color: #2c75ff;
}

@media (max-width: 767px) {
  header .container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 5px;
    padding-bottom: 35px;

    .name {
      width: 100%;
      margin-bottom: 35px;
      font-size: 16px;
    }

    .front-tittle {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;

      li {
        margin: auto 8px;
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: bold;
      }
    }
  }
  header .center-content {
    .left-content {
      padding-left: 15px;
      margin: 70px auto;
      span {
        font-size: 20px;
        letter-spacing: 8px;
      }
      .blue-span {
        font-size: 20px;
        letter-spacing: 8px;
      }

      h1 {
        font-size: 50px;
        margin: 0;
      }
      .buttons {
        .download {
          font-size: 16px;
          margin-bottom: 40px;
        }
        a {
          i {
            font-size: 20px;
          }
        }
      }
    }
    .right-content {
      img {
        height: 88vh;
      }
    }
  }
  .about-section .about-content {
    top: 93px;
    .cont {
      .blue-span {
        font-size: 28px;
      }
      h2 {
        margin: 50px auto;
        font-size: 30px;
      }
      p {
        width: 80%;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 2;
        padding: 10px 15px;
      }
    }
  }

  .skills-section .skills-content {
    top: 93px;
    padding: 20px;
    padding-top: 0;
    .headline {
      margin: 30px auto;
      font-size: 30px;
    }
    .skills {
      margin-top: 0;
      margin-bottom: 0;
      padding: 10px 5px;
      width: 100%;
      span {
        font-size: 20px;
        margin: auto {
          top: 30px;
          bottom: 0;
        }
      }
      .bar {
        margin: 5px auto;
      }
      .H-run {
        width: 92%;
      }
      .C-run {
        width: 88%;
      }
      .J-run {
        width: 80%;
      }
      .S-run {
        width: 88%;
      }
      .E-run {
        width: 75%;
      }
    }
  }

  .projects-section .projects-content {
    top: 93px;
    .projects {
      padding-top: 0;
      padding-bottom: 40px;
      padding-right: 20px;
      padding-left: 20px;
      .Head-line {
        font-size: 35px;
      }

      h3 {
        font-size: 21px;
      }
      p {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }

  .contact-section .contact-content {
    top: 93px;
    padding: 20px;
    .contact {
      padding: 0 5px;
      margin-top: 50px;
      margin-bottom: 0;
      span {
        font-size: 28px;
        padding-top: 20px;

        .blue-span {
          font-size: 30px;
        }
      }
      .social {
        justify-content: space-around;
        padding-bottom: 5px;
        a {
          margin: 0;
          .instagram {
            width: 26.26px;
            height: 29.99px;
          }
          i {
            font-size: 30px;
          }
        }
        .phone {
          margin: 38px auto;
          font-size: 16px;
          letter-spacing: 3px;
          width: 80%;
          i {
            font-size: 20px;
          }
        }
      }
    }
    .contact .mail {
      width: 100%;
      padding: 20px;
      form {
        [type="email"] {
          width: 100%;
        }
        textarea {
          width: 100%;
          height: 80px;
        }
        [type="submit"] {
          font-size: 16px;
          padding: 5px 0;
        }
      }
    }
  }
}
